<li>
  <a href="#<%= section.id  %>" class="text-blue-500 hover:underline"><%= section.title %></a>

  <ul class="pl-8 section" style="list-style-type: circle;">
    <% section.sub_sections.each do |sub| %>
      <% if sub.sub_sections.any? %>
        <%= render partial: "home/sub_section", locals: { section: sub } %>
      <% else %>
        <li>
          <a href="#<%= sub.id  %>" class="text-blue-500 hover:underline"><%= sub.title %></a>
        </li>
      <% end  %>
    <% end %>
  </ul>
</li>
