<div id="<%= dom_id section %>" class="my-5">
  <h2 class="font-bold text-2xl flex gap-2 items-center">
    <%= section.title %>
    <%= link_to 'Add section',
      new_section_path(parent_id: section.id),
      class: "text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline"
    %>
  </h2>

  <ul class="mt-2 pl-8" style="list-style-type: circle;">
    <% section.sub_sections.each do |sub| %>
      <%= render partial: "sections/sub_section", locals: { section: sub } %>
    <% end %>
  </ul>

  <div class="my-4 pl-5">
  </div>

  <% if action_name != "show" %>
    <div class="mt-4 text-sm">
      <%= link_to 'Edit this section', edit_section_path(section), class: "rounded-lg py-2 ml-2 px-4 bg-gray-100 inline-block font-medium" %>
      <hr class="mt-6">
    </div>
  <% end %>
</div>
